= render 'layouts/meta_header'
= render 'layouts/global_header'
= render 'layouts/bread_clumb'
= render 'layouts/page_header'

== yield

= render 'layouts/page_footer'
= render 'layouts/global_footer'
= render 'layouts/meta_footer'
